<div class="create-exercise-wrapper">

    @if (_isLoading)
    {
        <MudOverlay Visible="true" DarkBackground="false" ZIndex="9999">
            <MudProgressCircular Color="Color.Default" Indeterminate="true" />
        </MudOverlay>
    }

    <MudDialog>
        <DialogContent>
            <MudContainer>
                <MudText Class="title" Typo="Typo.h5">Create new exercise</MudText>
            </MudContainer>

            <MudForm @bind-IsValid="@_success">
                <MudText>Exercise name</MudText>
                <MudTextField T="string"
                              Class="input-style"
                              @bind-Value="_model.Name"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              Required="true"
                              RequiredError="Name is required!"
                              Disabled="@_isSubmitting" />
                <MudText>Exercise group</MudText>
                <MudSelect T="long"
                           Class="input-style"
                           Adornment="Adornment.None"
                           @bind-Value="_model.MuscleGroupId"
                           Variant="Variant.Outlined"
                           Margin="Margin.Dense"
                           Required="true"
                           RequiredError="Please select a muscle group"
                           Disabled="@_isSubmitting">

                    <MudSelectItem Value="0L" Disabled="true">Select muscle group</MudSelectItem>

                    @foreach (var group in _muscleGroups)
                    {
                        <MudSelectItem Value="@group.Id">@group.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudForm>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel" Disabled="@_isSubmitting">Cancel</MudButton>
            <MudButton Class="save-button" Variant="Variant.Filled"
                       Disabled="@(!_success || _isSubmitting)"
                       OnClick="Submit">
                @if (_isSubmitting)
                {
                    <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                }
                Create
            </MudButton>
        </DialogActions>
    </MudDialog>
</div>
<style>
    .mud-list .mud-list-item{
        background-color: var(--color-secondary-background); color: var(--color-tertiary-text);
    }

    .mud-list .mud-list-item.mud-list-item-disabled {
        display: none;
    }
</style>