@page "/authentication/update-password"

@layout EmptyLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization

<MudGrid Justify="Justify.Center" Class="mt-16">
    <MudItem xs="12" sm="8" md="4">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <div class="text-center mb-2">
                        <MudText Typo="Typo.h4" Class="my-2" Color="Color.Primary">Update Your Password</MudText>
                    </div>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                 @if (!string.IsNullOrEmpty(_message))
                {
                    <MudAlert Severity="@_messageSeverity" Class="mb-4">@_message</MudAlert>
                }
                <MudForm @ref="_form" @bind-IsValid="@_success" @bind-IsValid:after="StateHasChanged">
                    <MudTextField @bind-Value="_model.Password"
                                  Label="New Password"
                                  Variant="Variant.Outlined"
                                  InputType="_isPasswordVisible ? InputType.Text : InputType.Password"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@(_isPasswordVisible ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"
                                  OnAdornmentClick="() => _isPasswordVisible = !_isPasswordVisible"
                                  Required="true"
                                  RequiredError="Password is required!"
                                  Class="mb-4" />
                    <MudTextField @bind-Value="_model.ConfirmPassword"
                                  Label="Confirm New Password"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.Password"
                                  Required="true"
                                  RequiredError="Password confirmation is required!"
                                  Validation="@(new Func<string, string>(ValidateConfirmPassword))"
                                  Class="mb-4" />
                </MudForm>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_success || _isSubmitting)" OnClick="Submit" Class="ml-auto">
                     @if (_isSubmitting)
                    {
                        <MudProgressCircular Indeterminate="true" Size="Size.Small" />
                    }
                    else
                    {
                        <span>Update Password</span>
                    }
                </MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
