@page "/plans/{id:int}"
@using WorkoutManager.BusinessLogic.DTOs

<PageTitle>@($"Plan: {_plan?.Name ?? "..."}")</PageTitle>

@if (_plan is null)
{
    <div class="d-flex justify-center">
        <MudProgressCircular Indeterminate="true" />
    </div>
}
else
{
    <MudGrid Justify="Justify.SpaceBetween">
        <MudItem>
            @if (_isEditingName)
            {
                <MudTextField @bind-Value="_editedPlanName" Label="Plan Name" Variant="Variant.Outlined" />
                <MudButton OnClick="SavePlanName" Size="Size.Small" Color="Color.Primary">Save</MudButton>
                <MudButton OnClick="CancelEditName" Size="Size.Small">Cancel</MudButton>
            }
            else
            {
                <MudText Typo="Typo.h4">
                    @_plan.Name
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="StartEditingName" />
                </MudText>
            }
        </MudItem>
        <MudItem Class="d-flex gap-2 align-center">
            @if (_plan.TrainingDays.Any())
            {
                <MudSwitch T="bool" @bind-Value="_isEditMode" Label="Edit Mode" Color="Color.Primary" />
            }
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="DeletePlan" />
        </MudItem>
    </MudGrid>

    <MudExpansionPanels MultiExpansion="true" Class="mt-4">
        @foreach (var day in _plan.TrainingDays.OrderBy(d => d.Order))
        {
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex">
                        <div class="d-flex flex-column flex-grow-1">
                            <MudText>@day.Name</MudText>
                            <MudText Class="font-size-small mt-2">Exerices count: @(day.Exercises?.Count() ?? 0)</MudText>
                        </div>
                        <div class="d-flex gap-2 align-self-center mr-4">
                            @if (day.Exercises.Any())
                            {
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.PlayArrow" Class="ml-2" OnClick="() => StartWorkout(day.Id)">Start Workout</MudButton>
                            }
                            
                            @if (_isEditMode || day.Exercises.Count() == 0)
                            {
                                <MudButton Class="" Variant=" Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => AddExercise(day.Id))">Add Exercise</MudButton>
                            }
                        </div>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudList T="PlanDayExerciseDto">
                        @foreach (var exercise in day.Exercises.OrderBy(e => e.Order))
                        {
                            <MudListItem T="PlanDayExerciseDto">
                                @exercise.Name
                                @if (_isEditMode)
                                {
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="@(async () => await DeleteExercise(day.Id, exercise.PlanDayExerciseId))" />
                                }
                            </MudListItem>
                        }
                    </MudList>
                </ChildContent>

            </MudExpansionPanel>
        }
    </MudExpansionPanels>
}

<style>
    .mud-panel-expanded .mud-expand-panel-header {
        background-color: #FAFAFA;
    }
</style>