@page "/session/workout/{SessionId:long}"
@using WorkoutManager.BusinessLogic.DTOs


<MudOverlay Visible="_isLoading" LightBackground="true">
    <MudProgressCircular Style="color: var(--color-secondary-text)" Indeterminate="true" />
</MudOverlay>

@if (_session is not null)
{
    <div class="session-wrapper">
        <div class="session-progress">
            <div class="session-progress-title">
                <MudText Typo="Typo.caption" Class="mb-4">
                    Exercise @(_index + 1) of @_session.Exercises.Count
                </MudText>
                @if (@_session.Exercises.Count > (_index + 1))
                {
                    <MudText Class="align-self-center" Style="color: var(--color-tertiary-text)">
                        Next: @_session.Exercises.ElementAt(_index + 1).ExerciseName
                    </MudText>
                }
                <MudButton Color="Color.Secondary" OnClick="CancelWorkout">Cancel</MudButton>
            </div>
            <MudProgressLinear Value="@((_index + 1) / (double)_session.Exercises.Count * 100)" Class="mb-4" />
        </div>
        <div class="session-header">
            <MudText Typo="Typo.h5">@_currentExercise.ExerciseName</MudText>
            <div class="session-header-caption">
                @if (_previousSessionData.TryGetValue(_currentExercise.ExerciseId, out var previous))
                {
                    <div style="display: flex; gap: 10px; flex-basis: 100%">
                        <MudIcon Icon="@Icons.Material.Outlined.History"  />
                        <MudText Typo="Typo.subtitle2">@previous.SessionDate.ToString("dd/MM/yyyy")</MudText>
                    </div>
                    <div class="session-header-caption-content" style="display: flex; gap: 8px;">
                        @foreach (var set in previous.Sets)
                        {
                            <MudText Typo="Typo.caption">@($"{set.Weight}kg x {set.Reps}")</MudText>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="session-form">
            <div class="session-form-inputs">
                <div class="session-form-weights">
                    <MudText Typo="Typo.caption">Weight (KG)</MudText>
                    <MudNumericField Variant="Variant.Outlined" Placeholder="0" @bind-Value="@_weight"></MudNumericField>
                </div>
                <div class="session-form-reps">
                    <MudText Typo="Typo.caption">Reps</MudText>
                    <MudNumericField Variant="Variant.Outlined" Placeholder="0" @bind-Value="@_reps"></MudNumericField>
                </div>
            </div>
            <div class="session-footer">
                <MudButton Size="Size.Large" FullWidth Variant="Variant.Outlined" OnClick="AddSet">Add set</MudButton>
            </div>
        </div>
        <div class="session-progress">
            <div class="session-progress-header">
                <MudText Typo="Typo.subtitle1">current sets</MudText>
            </div>
            <div class="session-progress-body">
                @{
                    int x = 1;
                }

                @foreach (var set in _currentExercise.Sets)
                {
                    <div class="set-item">
                        <span class="set-item-number">@x</span>
                        <div class="set-item-main">
                            <span>@set.Weight</span>
                            <span class="set-item-subtitle">kg</span>
                            <span class="set-item-subtitle">x</span>
                            <span>@set.Reps</span>
                            <span class="set-item-subtitle">reps</span>
                        </div>
                        <MudIcon Icon="@Icons.Material.Outlined.Delete" @onclick="@(() => RemoveSet(set.Id))" />
                    </div>

                    x++;
                }
            </div>
        </div>
        @if (@_session.Exercises.Count == (_index + 1))
        {
            <MudButton Variant="Variant.Filled" FullWidth EndIcon="@Icons.Material.Outlined.ArrowForwardIos" OnClick="CompleteSession">Complete</MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Filled" FullWidth EndIcon="@Icons.Material.Outlined.ArrowForwardIos" OnClick="NextStep">Next</MudButton>
        }
    </div>
}

<style>
    .session-wrapper {
        margin: 0 auto;
        height: 80vh;
        overflow-x: auto;
    }

        .session-wrapper > .mud-button-root {
            background-color: white;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .session-wrapper .session-progress .session-progress-title {
            display: flex;
            justify-content: space-between;
        }

        .session-wrapper .session-progress .mud-typography-caption {
            color: var(--color-primary-text);
            margin-bottom: 4px
        }

        .session-wrapper .session-progress .mud-progress-linear .mud-progress-linear-bar {
            background-color: var(--color-secondary-text);
        }

        .session-wrapper .session-header {
            padding: 10px;
            background-color: var(--color-tertiary-background);
            margin-bottom: 12px;
            border-radius: 8px;
            border-color: var(--color-secondary-background);
        }

            .session-wrapper .session-header .session-header-caption {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                gap: 8px;
                color: var(--color-tertiary-text);
                margin: 8px 0;
            }

                .session-wrapper .session-header .session-header-caption .mud-icon-root {
                    margin-bottom: 2px;
                    font-size: 1.1rem;
                }

                .session-wrapper .session-header .session-header-caption .mud-typography-subtitle2 {
                    font-size: .8rem;
                }

                .session-wrapper .session-header .session-header-caption .mud-typography-caption {
                    color: var(--color-secondary-text);
                    font-weight: 600;
                    font-size: .8rem;
                    border: solid 1px var(--color-secondary-text);
                    padding: 2px 8px;
                    border-radius: 8px;
                }

        .session-wrapper .session-form {
            border: solid 1px var(--color-secondary-background);
            background-color: var(--color-tertiary-background);
            padding: 10px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 20px 0;
            margin-bottom: 10px;
        }

            .session-wrapper .session-form .session-form-inputs {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

                .session-wrapper .session-form .session-form-inputs .mud-input-outlined,
                .session-wrapper .session-form .session-form-inputs .mud-input-outlined .mud-input-outlined-border {
                    border: solid 1px var(--color-secondary-background);
                    border-radius: 8px;
                }

                    .session-wrapper .session-form .session-form-inputs .mud-input-outlined:hover .mud-input-outlined-border,
                    .session-wrapper .session-form .session-form-inputs .mud-input-outlined:active .mud-input-outlined-border,
                    .session-wrapper .session-form .session-form-inputs .mud-input-outlined:focus-within .mud-input-outlined-border {
                        border-color: var(--color-secondary-text);
                    }

                .session-wrapper .session-form .session-form-inputs .mud-typography-caption {
                    color: var(--color-tertiary-text);
                    text-transform: uppercase;
                    font-weight: 600;
                }

                .session-wrapper .session-form .session-form-inputs .mud-input-outlined {
                    background-color: var(--color-primary-background);
                    margin: 0 auto;
                }

                    .session-wrapper .session-form .session-form-inputs .mud-input-outlined input {
                        text-align: center;
                        color: var(--color-primary-text);
                        font-weight: 700;
                    }

            .session-wrapper .session-form .session-footer {
                width: 80%;
                margin: 0 auto;
            }

                .session-wrapper .session-form .session-footer .mud-button-outlined {
                    background-color: var(--color-secondary-background);
                    color: var(--color-primary-text);
                }

        .session-wrapper .session-progress .session-progress-header .mud-typography-subtitle1 {
            text-transform: uppercase;
            color: var(--color-tertiary-text);
            font-weight: 600;
        }

        .session-wrapper .session-progress .session-progress-body .set-item {
            border: solid 1px var(--color-secondary-background);
            background-color: var(--color-tertiary-background);
            border-radius: 8px;
            padding: 18px 8px;
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 12px;
        }

            .session-wrapper .session-progress .session-progress-body .set-item .set-item-subtitle {
                color: var(--color-tertiary-text);
                font-size: .8rem;
                margin-right: 12px;
            }

            .session-wrapper .session-progress .session-progress-body .set-item .set-item-main {
                flex-grow: 1;
                font-size: 1.2rem;
            }

            .session-wrapper .session-progress .session-progress-body .set-item .set-item-number {
                background-color: var(--color-secondary-background);
                padding: 6px 12px;
                border-radius: 50%;
                color: var(--color-secondary-text);
                font-weight: 600;
            }

            .session-wrapper .session-progress .session-progress-body .set-item .mud-icon-root {
                color: var(--color-tertiary-text);
            }

                .session-wrapper .session-progress .session-progress-body .set-item .mud-icon-root:hover {
                    cursor: pointer;
                }
</style>
